/* custom2.css */

body {
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: transparent;
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 25px;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/*
* Main content
*/

.main-content {
  margin-left: 250px; /* Sidebar width */
  margin-top: 56px; /* Height of the navbar */
  padding: 20px;
}

.table {
  font-size: 0.875rem; /* Adjust table font size */
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: middle;
}

.btn {
  font-size: 0.875rem; /* Adjust button font size */
  padding: 0.375rem 0.75rem; /* Adjust button padding */
}

.form-control {
  font-size: 0.875rem; /* Adjust form control font size */
  padding: 0.375rem 0.75rem; /* Adjust form control padding */
}
