
    /* Style untuk tombol dropdown */
    .dropbtn {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

    /* Container dropdown */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Isi dropdown */
    .dropdown-content {
        display: none; /* Tersembunyi secara default */
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Link di dalam dropdown */
    .dropdown-content a {
        color: black;
        padding: 10px 16px;
        text-decoration: none;
        display: block;
    }

    /* Hover style untuk link di dropdown */
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

