@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Styling dasar untuk navbar */
.navbar {
    background-color: #2B547E; /* Warna latar belakang navbar */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling untuk brand/logo */
.navbar .navbar-brand {
    color: #ffffff; /* Warna teks brand */
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

/* Styling untuk list */
.navbar .navbar-list {
    list-style: none; /* Menghilangkan bullet points */
    margin: 0;
    padding: 0;
    display: flex; /* Membuat item dalam list sejajar secara horizontal */
}

/* Styling untuk setiap item list */
.navbar .navbar-list li {
    margin: 0 15px; /* Memberikan jarak antar item */
}

/* Styling untuk tautan dalam list */
.navbar .navbar-list li a {
    text-decoration: none; /* Menghilangkan garis bawah pada tautan */
    color: #ffffff; /* Warna teks */
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* Hover effect untuk tautan */
.navbar .navbar-list li a:hover {
    color: #088F8F; /* Warna teks saat hover */
}

.hero-section {
    background: linear-gradient(to bottom right, rgba(77, 208, 225, 1), rgba(0, 150, 136, 0.5));
    height: 610px;
    width: 100%;
}

.hero-section .text-content {
    margin-top: 150px;
}

.hero-section h1 {
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
}

.hero-section p {
    margin-top: 10px;
    color: #fff;
}

.hero-section button {
    margin-top: 20px;
    border-radius: 30px;
    background-color: #ffffff;
    height: 50px;
    width: 170px;
}

.hero-section button:hover {
    border: 1px solid #FFA500;
    background: #2B547E;
}

.hero-section button a {
    text-decoration: none;
    color: #fff;
}

.logo img {
    height: 400px;
    width: auto;
    background: transparent;
}
.hero-section .icon img {
    height: 200px;
    width: auto;
}
.hero-section .animated img{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
/* Media Query untuk layar kecil */
@media (max-width: 768px) {
    .navbar .navbar-list {
        flex-direction: column; /* Mengatur item list secara vertikal */
        align-items: center;
        display: none; /* Sembunyikan menu secara default */
    }

    .navbar .navbar-list.active {
        display: flex; /* Tampilkan menu ketika aktif */
    }

    .navbar .navbar-toggler {
        display: block; /* Tampilkan tombol toggler untuk layar kecil */
    }
}

/* Styling untuk toggler */
.navbar .navbar-toggler {
    display: none;
    background-color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
@media (max-width: 568px){
    .logo img {
        height: 200px;
        width: auto;
    }
}